body {
    background: #333;
    color: #eee;
}
.nav {
    height: 50px;
    background: #333;
}

.jumbotron {
    color: #444;
    height: 500px;
    width: 100%;
}

li {
    list-style: none;

}
ul:first-child {
    margin-left: 15px;
}

a {
    color: #00aced;
}

a:hover {
    text-decoration: none;
    color: #87cefa;
}
.btn {
    background-color: #00aced;
}
.btn:hover {
    background-color: #fff;
    color: #00aced;
}

/************
*           *
*   modal   *
*           *
************/
.modal-content {
    height: 400px;
    width: 600px;
    background-color: #ddd;
    color: #333;
}
.modal-header {
    border-bottom: 1px solid #ccc;
}
.modal-footer {
    border-top: 1px solid #ccc;
}
.close {
    text-shadow: none;
}

/*************
*            *
*   footer   *
*            *
*************/
#footer {
    background-color: #e9ecef;
    padding: 50px;
    color: #333;
}

.fab, .fas {
    color: #00aced;
}

