/********************
*                   *
*   general style   *
*                   *
********************/
body {
    background-color: #ddd;
    color: #303133;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    background-color: #b2e0e7;
    background-image: url('../img/dog-walker-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0;
    width: 100%;
    /*max-width: 1600px;*/
}

.row {
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
    padding: 10px;
    float: left;
}

.column.one-third {
    width: 33.33%;
}

.column.two-third {
    width: 66.67%;

}

.inner-row {
    width: 100%;
}

.column.one-half {
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

input, textarea {
    float: left;
    margin: 10px;
    padding: 10px;
}


/*************
*            *
*   header   *
*            *
*************/
#header-heading {
    font-size: 3em;
    text-decoration: underline;
    margin-bottom: 5px;
}
#header-sub-heading {
    margin-top: 5px;
    letter-spacing: 9px;
}

/*******************
*                  *
*   main section   *
*                  *
*******************/
.fancy-heading {
    position: relative;
    text-align: center;
}

.fancy-heading:after {
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 30px;
    border:2px solid #303133;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);
    margin-top: 10px;
}

#gen-info {
    background-color: #fff;
}

#questions {
    background-color: #eee;

}

#left-side {
    background-color: #fff1f1;
}
#right-side {
    background-color: #b2e0ff;
}

/********************
*                   *
*   media queries   *
*                   *
********************/
@media only screen and (max-width: 600px) {
    .column.one-third, .column.two-third, .column.one-half {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    header {
        background-image: url('../img/dog-walker-vertical.png');
        background-position: center bottom;
        background-size: contain;
        justify-content: flex-start;
        height: 100vh;

    }
}


