#contra {
    background: url('../img/contra.png') no-repeat center;
    background-size: contain;
    height: 300px;
    width: 100%;
}
#countDown {
    background: #333;
    height: 500px;
    width: 100%;
    color: #fff;
}