#landing {
    height: 90vh;
    width: 100%;
}
#contra {
    background: url('../img/contra.png') no-repeat center;
    background-size: contain;
    height: 300px;
    width: 100%;
}
#gameOver {
    background: #333333;
    height: 70vh;
    width: 100%;
    color: #fff;
}
.x {
    color: red;
}
.invisible {
    visibility: hidden;
}
.blink {
    background-color: #ff0000;
}
